* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black
    color; #333
    line-height: 1.6;
}

main, header, footer, .preheader {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.preheader {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.9rem;
}

header {
    display: flex;
    justify-content: space-between;
    gap : 1rem;
}

.logo {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav ul li a:hover {
    color: #007BFF;
}

section {
    margin: 2,5rem 0;
}

section > header {
    margin-bottom: 1rem;
}

section h1, section h2 {
    color: #222;
    font-size: 2rem;
}

section p {
    max-width: 600px;
}


